* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: space-between;
}

.App {
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.row_head {
    /*width: 800px;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 5px;
    background: #000000;
}
.row_ask {
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #960c0c;
}
.row_bid {
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #134d04;
}
.v {
    padding: 5px;
}

.item {
    display: flex;
    padding: 1px;
    border: 2px black inset;
    margin-top: 5px;
}

.item_symbol {
    width: 100px;
    border: 2px black inset;
    background: #211a1a;
}

.button {
    display: flex;
    margin-top: 5px;
    margin-right: 10px;




}

h5 {
    color: white;
}

p {
    width: 100px;
    color: white;
}

p.s {
    background: #960c0c;

}
p.f {
    background: #255205;

}
header {
    background-color: white;
}
.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}